body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.text-description {
  font-weight: 400;
  font-size: 14px;
  color: rgba(83, 83, 83, 1);
  line-height: 1.571em;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.219em;
  text-transform: capitalize;
  transition: all 0.2s ease;
  outline: none;
  letter-spacing: 0.0018em;
}

.link:hover {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul,
li {
  display: block;
}

.btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.219em;
  outline: none;
  border: none;
  border-radius: 2px;
  background: #ffc94f;
  display: inline-block;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.111em;
  color: rgba(83, 83, 83, 1);
}

h1 span {
  text-transform: uppercase;
  color: rgba(255, 201, 79, 1);
}

h2 {
  font-weight: 800;
  font-size: 30px;
  line-height: 1.333em;
  color: rgba(83, 83, 83, 1);
  border-left: 5px solid #f3a800;
  padding-left: 17px;
}
h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 2.5em;
}

h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 2.143em;
  color: white;
}

/*************************** header  ****************************/

/* nav  */
.nav {
  padding: 13px 0;
  width: 100%;
  background: rgba(12, 5, 55, 1);
}

.nav__add {
  color: rgba(255, 201, 79, 1);
  font-weight: 700;
  display: flex;
  align-items: center;
  width: fit-content;
}

.nav__add-icon {
  width: 22px;
  height: 22px;
  background: rgba(255, 201, 79, 1);
  border-radius: 50%;
  padding: 4px;
  margin-left: 18px;
}

.nav__add:hover {
  color: rgba(255, 201, 79, 0.8);
}

.nav__add p {
  width: fit-content;
  height: fit-content;
}

.nav__email {
  display: flex;
  width: 150px;
}

.nav__mail-icon {
  margin-right: 10px;
}

.nav__btn {
  background: none;
  border: 1px solid white;
  border-radius: 2px;
  display: flex;
  width: fit-content;
  padding: 12px 29px;
}

.nav__btn-icon {
  margin-right: 10px;
}

.nav__btn:hover {
  border-color: rgba(255, 201, 79, 0);
}

.nav__list {
  display: grid;
  grid-template-columns: 95px 52px 66px 150px 70px;
  width: fit-content;
  grid-gap: 35px;
}

.nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* nav  */

/* header  */
/*************************** header  ****************************/
/* header  */
/*************************** header  ****************************/
/* header  */
/*************************** header  ****************************/
/* header  */
/*************************** header  ****************************/
/* header  */
/*************************** header  ****************************/
/* header  */
/*************************** header  ****************************/
/* header  */
/*************************** header  ****************************/
/* header  */
/*************************** header  ****************************/
/* header  */
/*************************** header  ****************************/
/* header  */
/*************************** header  ****************************/
/* header  */
