body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.text-description {
  font-weight: 400;
  font-size: 14px;
  color: rgba(83, 83, 83, 1);
  line-height: 1.571em;
}

.link,
.input-text {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.219em;
  text-transform: capitalize;
  transition: all 0.2s ease;
  outline: none;
  letter-spacing: 0.0018em;
}

.input-text {
  text-transform: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 23px;
  color: rgba(83, 83, 83, 1);
}

.link:hover {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul,
li {
  display: block;
}

a {
  text-decoration: none;
}

.btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.219em;
  outline: none;
  border: none;
  border-radius: 2px;
  background: #ffc94f;
  display: inline-block;
  text-decoration: none;
  color: white;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.111em;
  color: rgba(83, 83, 83, 1);
}

h1 span {
  text-transform: uppercase;
  color: rgba(255, 201, 79, 1);
}

h2 {
  font-weight: 800;
  font-size: 30px;
  line-height: 1.333em;
  color: rgba(83, 83, 83, 1);
  border-left: 5px solid #f3a800;
  padding-left: 17px;
}
h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.44em;
  color: rgba(83, 83, 83, 1);
}

h4 {
  font-weight: 600;
  font-size: 14px;
  color: white;
}

input,
textarea {
  border: none;
  background: transparent;
  border-bottom: 1px solid rgba(239, 239, 239, 1);
  outline: none;
  padding-bottom: 10px;
}

/*************************** header  ****************************/

/* nav  */
.nav {
  padding: 13px 0;
  width: 100%;
  background: rgba(12, 5, 55, 1);
}

.nav__add {
  color: rgba(255, 201, 79, 1);
  font-weight: 700;
  display: flex;
  align-items: center;
  width: fit-content;
}

.nav__add-icon {
  width: 22px;
  height: 22px;
  background: rgba(255, 201, 79, 1);
  border-radius: 50%;
  padding: 4px;
  margin-left: 18px;
}

.nav__add:hover {
  color: rgba(255, 201, 79, 0.8);
}

.nav__add p {
  width: fit-content;
  height: fit-content;
}

.nav__email {
  display: flex;
  width: 150px;
}

.nav__mail-icon {
  margin-right: 10px;
}

.nav__btn {
  background: none;
  border: 1px solid white;
  border-radius: 2px;
  display: flex;
  width: fit-content;
  padding: 12px 29px;
}

.nav__btn-icon {
  margin-right: 10px;
}

.nav__btn:hover {
  border-color: rgba(255, 201, 79, 0);
}

.nav__list {
  display: grid;
  grid-template-columns: 95px 52px 66px 150px 70px;
  width: fit-content;
  grid-gap: 35px;
}

.nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* nav  */

.header {
  padding: 115px 0 0 0;
  height: 550px;
}

.header__content {
  width: 486px;
}

.header__text {
  margin: 25px 0 50px 0;
}

.header__btn {
  padding: 13px 56px;
  color: rgba(83, 83, 83, 1);
  transition: all 0.2s ease;
}

.header__btn:hover {
  background: rgba(255, 201, 79, 0.7);
}

.header__swiper-container {
  width: 1020px;
  height: 550px;
  position: absolute;
  top: 84px;
  right: 0;
}

.header__swiper-button-next,
.header__swiper-button-prev {
  width: fit-content;
  height: fit-content;
  left: 0;
}

.header__swiper-button-next:after,
.header__swiper-button-prev:after {
  content: "";
}

.header__swiper-button-next.swiper-button-disabled,
.header__swiper-button-prev.swiper-button-disabled {
  color: rgba(83, 83, 83, 1);
  opacity: 1;
}

.header__swiper-button-next i,
.header__swiper-button-prev i {
  color: rgba(83, 83, 83, 1);
  padding: 5px 13px 6px 13px;
  border: 1px solid #ededed;
  border-radius: 3px;
  transition: all 0.2s ease;
}

.header__swiper-button-next i:hover,
.header__swiper-button-prev i:hover {
  background: rgba(83, 83, 83, 1);
  border: 1px solid rgba(83, 83, 83, 1);
  color: white;
  box-shadow: 0px 4px 10px rgba(243, 168, 0, 0.25);
}

.header__swiper-slide {
  text-align: end;
}

.header__swiper-button-next {
  top: 540px;
}

.header__swiper-button-prev {
  top: 500px;
}

.swiper-container-horizontal > .header__swiper-scrollbar {
  height: 1px;
  background: rgba(239, 239, 239, 1);
  left: auto;
  right: 0;
  border-radius: 0;
  width: 95%;
}

.header__swiper-scrollbar .swiper-scrollbar-drag {
  height: 3px;
  border-radius: 3px;
  background: rgb(243, 168, 0);
}

/* header  */
/*************************** catalog  ****************************/
.catalog {
  padding: 90px 0 0 0;
}

.catalog__list {
  width: 330px;
}

.catalog__wrapper {
  margin-top: 77px;
}

.catalog__item-title h3 {
  transition: all 0.2s ease;
  padding: 24px 0 17px 0;
}

.catalog__item {
  border-top: 1px solid rgba(239, 239, 239, 1);
  position: relative;
}

.catalog__item:first-child {
  border: none;
}

.catalog__item:first-child a h3 {
  padding-top: 0;
}

.catalog__item-title h3:hover {
  color: rgba(255, 201, 79, 1);
}

.catalog__btn {
  padding: 13px 69px;
  background: rgba(61, 79, 100, 1);
  transition: all 0.2s ease;
  letter-spacing: 0.01em;
  margin: 30px 0 45px;
}

.catalog__btn:hover {
  background: rgba(255, 201, 79, 1);
}

.catalog__item-content {
  display: none;
}

.catalog__item-content.active {
  display: block;
}

.catalog__window {
  background: url("../img/window.jpg") no-repeat;
  background-size: cover;
  width: 960px;
  height: 460px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-left: 15px;
}

.catalog__window-acro,
.catalog__window-m,
.catalog__window-l,
.catalog__window-alfa {
  border: 10px solid white;
  position: relative;
}

.catalog__window-acro {
  grid-row: 1/3;
}

.catalog__window-l {
  grid-row: 2/3;
}

.catalog__window-alfa {
  grid-row: 1/3;
}

.catalog__window-wrapper {
  display: flex;
  background: white;
  padding: 9px 21px;
  width: fit-content;
  position: absolute;
  bottom: 0;
}

.catalog__window-text {
  margin-right: 108px;
  font-weight: 600;
  font-size: 14px;
  color: rgba(83, 83, 83, 1);
}

.catalog__wrapper {
  display: flex;
}
/* catalog  */
/*************************** services  ****************************/
.services {
  padding: 100px 0;
}
.services__block {
  background: url("../img/bulb.svg") no-repeat;
  background-position: 0px 15px;
  padding: 24px 10px 24px 130px;
  position: relative;
}

.services__wrapper {
  margin-top: 70px;
}

.services__text {
  margin-top: 25px;
}

.services__link::before {
  position: absolute;
  display: block;
  content: "";
  background: url("../img/add-yellow.svg") center / cover no-repeat;
  right: 0;
  top: 30px;
  width: 15px;
  height: 15px;
  transition: 0.2s ease;
}

.services__link.active::before {
  transform: rotate(45deg);
}

.services__block::after {
  display: block;
  content: "";
  background: rgba(229, 229, 229, 1);
  height: 1px;
  width: 90%;
  position: absolute;
  bottom: 0;
}

.services__block:nth-child(2) {
  background: url("../img/shipment.svg") no-repeat;
  background-position: 0px 15px;
}
.services__block:nth-child(3) {
  background: url("../img/engineer.svg") no-repeat;
  background-position: 0px 15px;
}
.services__block:nth-child(4) {
  background: url("../img/light.svg") no-repeat;
  background-position: 0px 15px;
}
.services__block:nth-child(5) {
  background: url("../img/fix.svg") no-repeat;
  background-position: 0px 15px;
}

.services__text {
  color: rgba(83, 83, 83, 1);
  line-height: 1.7em;
  display: none;
}

.services__text.active {
  display: block;
}
/* services  */
/*************************** new-products  ****************************/
.new-products__block {
  width: 302px;
  height: 596px;
  border: 1px solid #eaeaea;
  transition: all 0.2s ease;
  border-radius: 0px 0px 0px 2px;
  position: relative;
  padding: 118px 25px 0 15px;
}

.new-products__block:hover {
  box-shadow: 0px 0px 30px rgba(255, 201, 79, 0.3);
}

.new-products__offer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 52px;
}

.new-products__btn-offer {
  height: 55px;
  display: flex;
  border-top: 1px solid #eaeaea;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.new-products__btn-text {
  width: 80%;
  background: rgba(61, 79, 100, 1);
  color: white;
  border-radius: 0px 0px 0px 2px;
  transition: 0.2s;
}

.new-products__btn-text:hover {
  background: rgba(61, 79, 100, 0.7);
}

.new-products__btn-add {
  width: 20%;
  background: white;
  color: rgba(61, 79, 100, 1);
  transition: 0.2s;
}

.new-products__btn-add:hover {
  background: rgba(61, 79, 100, 0.7);
}

.new-products__btn-offer a {
  padding: 19px 0px;
  border-radius: 0;
  text-align: center;
}

.new-products__type {
  font-weight: 600;
  display: block;
  font-size: 16px;
  color: rgba(61, 79, 100, 1);
  background: rgba(255, 201, 79, 1);
  width: 50px;
  text-align: center;
  line-height: 31px;
  height: 31px;
  border-radius: 0px 0px 2px 0px;
  position: absolute;
  top: 0;
  left: 0;
}

.new-products__title {
  margin: 70px 0 22px;
}

.new-products__price {
  margin: 27px 0 0px;
}

.new-products__price {
  font-weight: bold;
  font-size: 20px;
  color: rgba(83, 83, 83, 1);
  transition: 0.2s;
}

.new-products__block.active .new-products__price {
  color: rgba(255, 201, 79, 1);
}

.new-products__info {
  position: relative;
}

.new-products__info::before {
  display: block;
  content: "";
  border-radius: 50%;
  position: absolute;
}

.new-products__btn {
  padding: 13px 36px;
  color: rgba(83, 83, 83, 1);
  transition: 0.2s;
  margin: 0 auto;
  display: block;
  width: fit-content;
  margin-top: 80px;
}

.new-products__btn:hover {
  opacity: 0.7;
}
/* new-products  */
/*************************** download  ****************************/

.download {
  padding: 95px 0 0 0;
  background: url("../img/doc.png") no-repeat;
  background-position: 14% 32%;
}

.download__block {
  display: flex;
  align-items: baseline;
  padding: 0 0 6px 0;
  border-bottom: 1px solid rgba(239, 239, 239, 1);
  width: 95%;
}

.download__link-see {
  margin-left: auto;
  margin-right: 20px;
}

.download__link img {
  margin-left: 10px;
}

.download__block a {
  font-weight: bold;
  font-size: 14px;
  color: rgba(101, 101, 101, 1);
  transition: 0.2s;
}

.download__block a:hover {
  color: rgba(243, 168, 0, 1);
}

.download__text {
  font-weight: 500;
  font-size: 14px;
  color: rgba(80, 80, 80, 1);
}

.download__swiper-container {
  width: 950px;
  height: 150px;
  margin-left: auto;
  margin-right: 0;
}

.swiper-container-vertical > .download__swiper-scrollbar {
  height: 100%;
  background: rgba(239, 239, 239, 1);
  left: auto;
  right: 2px;
  border-radius: 0;
  width: 1px;
}

.download__swiper-scrollbar .swiper-scrollbar-drag {
  height: 3px;
  width: 2px;
  border-radius: 3px;
  background: rgb(243, 168, 0);
}

.download__swiper-container .swiper-slide {
  opacity: 0.4;
  transition: 0.5s;
}
.download__swiper-container .swiper-slide-active,
.download__swiper-container .swiper-slide-next {
  opacity: 1;
}

.download__title {
  font-weight: 800;
  font-size: 20px;
  color: rgba(80, 80, 80, 1);
}

.download .container {
  display: flex;
}

/* download  */
/*************************** questions  ****************************/

.questions {
  background: url("../img/mark.png") no-repeat;
  background-position: 26% 11%;
  padding: 80px 0 100px 0;
}

.questions__title {
  font-weight: 800;
  font-size: 20px;
  color: rgba(80, 80, 80, 1);
  margin-right: 120px;
  width: 305px;
  margin-top: 10px;
}

.questions__form {
  width: 360px;
  height: 207px;
  display: flex;
  flex-direction: column;
}

.questions__btn {
  border-radius: 2px;
  width: fit-content;
  height: fit-content;
  color: rgba(80, 80, 80, 1);
  margin: 17px 0 0 auto;
  padding: 13px 69px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.questions__btn:hover {
  opacity: 0.7;
}

.questions .container {
  display: flex;
  justify-content: center;
}
/* questions  */
/*************************** footer  ****************************/

.footer {
  background: rgba(61, 79, 100, 1);
  padding: 50px 0 55px;
}

.footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer__block-contact {
  display: flex;
  flex-direction: column;
}

.footer__que-link {
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
  text-transform: lowercase;
  color: rgba(231, 233, 236, 1);
}

.footer__block-contact img {
  width: 20px;
  height: 20px;
  margin-right: 9px;
}

.footer__link {
  font-weight: 500;
  font-size: 14px;
  color: white;
  text-decoration: none;
  margin-bottom: 15px;
  transition: 0.2s;
}

.footer__link:hover {
  opacity: 0.7;
}

.footer__block-questions {
  display: flex;
  flex-direction: column;
}

.footer__catalog-item a {
  font-weight: 400;
  font-size: 12px;
  color: rgba(231, 233, 236, 1);
  text-decoration: none;
  transition: 0.2s;
}

.footer__catalog-item a:hover {
  color: #ffc94f;
  text-decoration-line: underline;
}

.footer__catalog-title {
  margin-bottom: 15px;
  font-weight: 500;
}

.footer__contact-title {
  font-weight: 500;
}

.footer__catalog-item {
  margin-bottom: 10px;
}

.footer__text-logo {
  font-weight: 500;
  font-size: 11px;
  color: rgba(231, 233, 236, 1);
  margin-top: 24px;
}
/* footer  */
/*************************** header  ****************************/
/* header  */
/*************************** header  ****************************/
/* header  */
/*************************** header  ****************************/
/* header  */
/*************************** header  ****************************/
/* header  */ ;
