@media screen and (max-width: 1366px) {
  .header__content {
    width: 410px;
  }

  .header__swiper-container {
    width: 870px;
  }

  .new-products__offer {
    margin-top: 52px;
    grid-column-gap: 15px;
  }

  .container {
    width: 1200px;
  }

  .solutions__tabs .stab-content {
    width: 72%;
  }

  .catalog__filter {
    width: 225px;
    top: 175px;
  }

  .catalog__btn {
    font-size: 13px;
    padding: 6px 5px;
  }

  .catalog__novelty-wrapper {
    margin: 20px 0 50px auto;
  }

  .catalog {
    padding: 10px 0 50px 0;
  }

  .catalog__title {
    margin: 25px 0 30px 0;
  }

  .set__form {
    margin-left: 80px;
  }

  .set__price {
    margin-left: 205px;
  }
}

@media screen and (max-width: 1200px) {
  .solutions__tabs .stab-content {
    width: 68%;
  }

  .download__block {
    max-width: 730px;
  }

  .nav__item {
    margin-left: 0;
  }

  .services__text.services__text-accardion {
    width: 100%;
  }

  .container {
    width: 992px;
  }

  .catalog__bar-mobil {
    font-size: 12px;
  }

  .catalog__title-wrapper.active
    ~ .catalog__btn-wrapper
    .catalog__btn:nth-child(1) {
    font-size: 16px;
  }

  .header__swiper-container {
    width: 800px;
    height: 425px;
  }

  .header__img {
    width: 95%;
  }

  .header__swiper-button-prev {
    top: 365px;
  }
  .header__swiper-button-next {
    top: 400px;
  }

  .nav__list {
    grid-gap: 10px;
  }

  .nav__btn {
    padding: 5px 10px;
    border-radius: 20px;
  }

  .nav__add-icon {
    display: none;
  }

  .link {
    font-size: 13px;
  }

  .new-products__offer {
    justify-content: space-between;
    margin-top: 20px;
  }

  .new-products__btn {
    margin-top: 40px;
  }

  .new-products__block {
    margin-top: 30px;
  }

  .new-products__block.shop {
    margin-top: 0;
  }

  .catalog__filter {
    width: 100%;
    position: relative;
    top: auto;
  }

  .catalog__btn {
    font-size: 14px;
    padding: 6px 14px;
  }

  .catalog__novelty-wrapper,
  .catalog__products-wrapper,
  .catalog__products {
    width: 100%;
  }

  .details-mini-swiper-container {
    margin-right: 0;
  }

  .details-swiper-container {
    width: 390px;
  }

  .details__info-product {
    width: 480px;
  }

  .selected-modifications__head-table h6 {
    font-size: 12px;
  }

  .product-description__tabs label {
    padding: 14px 13px;
  }

  .details__btn-form {
    font-size: 15px;
  }

  .set__description-item {
    width: 315px;
  }

  .set__form {
    margin: 0;
  }

  .set__price {
    margin-left: 155px;
  }

  .transfer__tabs .tab-content {
    grid-column-gap: 30px;
  }
}

@media screen and (max-width: 992px) {
  .solutions__tabs .stab-content {
    width: 50%;
  }

  .questions__title-img {
    left: 0;
  }

  .header__content {
    width: 365px;
  }

  .download__title-img {
    left: 50px;
  }

  .download__block {
    max-width: 550px;
  }

  .new-products__offer {
    grid-template-columns: 1fr 1fr;
  }

  .services-info {
    padding: 10px 0 25px;
  }

  .services__line-text {
    font-size: 19px;
  }

  .details {
    padding: 10px 0 15px 0;
  }

  .catalog__bar-mobil {
    font-size: 14px;
  }

  .services__title-office {
    font-weight: bold;
    font-size: 24px;
    padding: 0;
    border: none;
    margin: 0 0 40px 0;
  }

  .about__tabs label {
    font-size: 15px;
  }

  .container {
    width: 768px;
  }

  .container .nav__list,
  .container .nav__add,
  .container .nav__email,
  .container .nav__btn {
    display: none;
  }

  .nav__block .nav__burger-link {
    display: block;
  }

  .nav__block.active {
    height: 100vh;
  }
  .nav__burger-link.nav__add .nav__add-icon {
    display: block;
  }

  .nav__burger-link.nav__add {
    display: flex;
    margin-left: 40px;
  }

  .nav__burger {
    display: block;
  }

  .header__swiper-container {
    display: none;
  }

  .header {
    background: url("../img/table.jpg") no-repeat;
    background-position: top right;
    background-size: 55%;
    height: auto;
    padding: 40px 0 30px 0;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 26px;
  }

  .header__text {
    margin: 25px 0 30px 0;
  }

  .services__tabs label {
    height: 154px;
  }

  .catalog__novelty {
    flex-wrap: wrap;
  }

  .selected-modifications__head-table,
  .selected-modifications__product-item {
    display: none;
  }

  .selected-modifications__product-mobil-item {
    display: block;
  }

  .selected-modifications {
    background: none;
  }

  .selected-modifications__amount {
    display: none;
  }

  .product-description__tabs label {
    max-width: 212px;
    min-height: 70px;
  }

  .product-description__tabs .tab-content {
    border: none;
    top: 90px;
    padding: 0;
  }

  .details__swiper {
    margin-top: 30px;
  }

  .details__info-product {
    position: static;
    width: 100%;
    margin-top: 30px;
  }

  .details__character-form {
    grid-column-gap: 10%;
  }

  .details-swiper-container {
    margin: 0 auto;
  }

  .set__item {
    padding: 10px 20px;
    height: auto;
  }

  .set__price {
    margin-left: 105px;
  }

  .set__description-item {
    width: 190px;
  }

  .set__brief {
    grid-column-gap: 30px;
  }

  .set__title {
    margin: 25px 0 25px;
  }

  .set {
    padding: 20px 0;
  }

  .transfer__wrapper-content {
    max-width: 465px;
  }

  .transfer__wrapper-list::after {
    display: none;
  }

  .transfer__wrapper-list::before {
    width: calc(100% - 125px);
    left: calc(50% - 25px);
    transform: translateX(-50%);
  }

  .transfer__tabs .tab-content {
    padding-top: 15px;
  }

  .transfer {
    padding: 20px 0 40px;
  }

  .transfer__title {
    margin-bottom: 20px;
  }

  .catalog__title {
    margin: 0;
  }

  .catalog__wrapper {
    margin-top: 30px;
  }

  .services {
    padding: 15px 0 25px 0;
  }

  .catalog__window-wrapper {
    width: 100%;
  }

  .catalog__window-text {
    margin-right: auto;
  }

  .catalog__window {
    width: 520px;
  }

  .services__wrapper {
    margin-top: 40px;
  }

  .services__block {
    padding: 24px 30px 24px 130px;
  }

  .new-products {
    padding: 10px 0;
  }

  .catalog {
    padding: 10px 0 10px 0;
  }

  .solutions__tabs .stab-content {
    width: 59%;
  }

  .solutions {
    padding: 30px 0 50px 0;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 576px;
  }

  .download__swiper-container {
    height: auto;
  }

  .questions__title-img,
  .download__title-img {
    display: none;
  }

  .catalog__products {
    grid-template-columns: 1fr 1fr;
  }

  .nav__burger-link.nav__add.link {
    margin: 0;
    padding: 12px 20px;
  }

  .solutions {
    padding: 10px 0 50px 0;
  }

  .header {
    background-position: center top;
    background-size: 576px;
  }

  .header__text,
  .header__btn {
    font-size: 19px;
  }

  h1 {
    font-size: 26px;
  }

  h2 {
    border-left: none;
    padding-left: 0;
    font-size: 23px;
  }

  h3 {
    font-size: 21px;
    font-weight: 500;
  }

  .header__content {
    margin: 0 auto;
    text-align: start;
    width: auto;
  }

  .text-description,
  .btn,
  .link {
    font-size: 18px;
  }

  .header {
    padding: 355px 0 10px 0;
    height: 100%;
  }

  .header__btn {
    padding: 15px 100px;
  }

  .catalog__btn-index {
    font-size: 18px;
    width: 50%;
  }

  .catalog__text {
    font-size: 16px;
  }

  .nav__burger-link,
  .nav__burger-link .nav__item {
    margin-top: 25px;
  }

  .nav__email {
    width: auto;
  }

  .nav__btn {
    padding: 24px 52px;
  }

  .nav__block {
    justify-content: center;
  }

  .nav__burger-link.nav__list::after {
    transform: translate(-50%, 85px);
  }

  .catalog__window {
    display: none;
  }

  .catalog__list {
    width: 100%;
  }

  .nav__logo {
    z-index: 3;
  }

  .catalog__item-title h3 {
    padding-left: 24px;
    font-weight: 700;
  }

  .services__block,
  .services__block:nth-child(1),
  .services__block:nth-child(2),
  .services__block:nth-child(3),
  .services__block:nth-child(4),
  .services__block:nth-child(5) {
    background-position: left 10px;
    background-size: 65px;
  }

  .services__block::after,
  .services__link::before {
    display: none;
  }

  .services__line-text {
    font-weight: 700;
  }

  .services__wrapper {
    margin-top: 30px;
  }

  .new-products__content-offer {
    margin-bottom: 40px;
  }

  .nav__block .nav__burger-link {
    padding: 15px 20px;
  }

  .new-products__offer {
    grid-gap: 13px;
  }

  .download__swiper-container .swiper-slide {
    height: fit-content;
    opacity: 1;
    margin-bottom: 10px;
  }

  .download__swiper-container .swiper-wrapper {
    flex-direction: column;
  }

  .download__link-see,
  .download__link p {
    display: none;
  }

  .download {
    background: none;
  }

  .download__text {
    margin-right: auto;
  }

  .download .container {
    display: block;
  }

  .download__block {
    border-bottom: none;
    padding: 0;
    width: 100%;
    justify-content: space-between;
  }

  .download__swiper-container {
    width: 100%;
  }

  .download__title {
    margin-bottom: 35px;
  }

  .download__text {
    display: none;
  }

  .download__text-mob-link {
    display: block;
  }

  .download {
    padding: 40px 0 20px 0;
  }

  .questions {
    background: none;
    padding: 10px 0 30px 0;
  }

  .questions .container {
    flex-direction: column;
  }

  .input-text {
    margin-bottom: 15px;
  }

  .questions__btn {
    width: 100%;
  }

  .questions__title {
    margin: 0 0 30px 0;
  }

  .footer .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 20px;
  }

  .footer__block-logo {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .footer__text-logo {
    display: none;
  }

  .footer__text-logo-mobile {
    text-align: center;
    display: block;
    grid-column: 1/3;
    justify-self: center;
    margin-top: 0;
    font-size: 14px;
    width: 100%;
    border-top: 1px solid rgba(229, 229, 229, 1);
    padding-top: 20px;
  }

  .footer {
    padding: 10px 0 30px;
  }

  .footer__contact-title {
    grid-column: 1/3;
  }

  .footer__cont-link:nth-child(4) {
    grid-column: 1/3;
    justify-self: center;
  }

  h4 {
    font-size: 19px;
  }

  .footer__link,
  .footer__catalog-title,
  .footer__contact-title {
    font-size: 16px;
  }

  .footer__cont-link {
    font-size: 15px;
    display: flex;
    justify-items: center;
  }

  .footer__block-contact img {
    width: 15px;
    margin-right: 5px;
  }

  .footer__catalog-item a {
    font-size: 15px;
  }

  .footer__catalog-list {
    width: 195px;
  }

  .palce__link {
    font-size: 12px;
  }

  .about__title {
    font-size: 20px;
    font-weight: 800;
    margin: 0;
  }

  .about__tabs {
    display: none;
  }

  .solutions__wrapper,
  .about__wrapper,
  .services__wrapper {
    display: block;
  }

  .solutions__item-title h3 {
    font-size: 17px;
    font-weight: 700;
  }

  .about {
    padding: 20px 0 25px 0;
  }

  .solutions__text {
    margin-top: 15px;
  }

  .solutions__title {
    font-size: 21px;
    margin-bottom: 20px;
  }

  .solutions__tabs {
    display: none;
  }

  .solutions__card-mobil {
    display: block;
  }

  .services__tabs {
    display: none;
  }

  .services__text {
    display: block;
  }

  .catalog__filter-type {
    overflow-x: auto;
    flex-wrap: nowrap;
    position: absolute;
    top: 50px;
    left: 70%;
    transform: translateX(-50%);
    width: 140%;
  }

  .catalog__type-link {
    min-width: max-content;
  }

  .catalog__title {
    margin: 25px 0 50px 0;
  }

  .catalog {
    overflow: hidden;
  }

  .catalog__title-wrapper img {
    display: none;
  }

  .catalog__title-wrapper {
    position: relative;
    cursor: pointer;
    transition: all 0.02s ease;
  }

  .catalog__title-wrapper:active {
    opacity: 0.5;
  }

  .catalog__title-wrapper.active ~ .catalog__bar {
    display: none;
  }

  .catalog__title-wrapper::after,
  .catalog__title-wrapper::before {
    display: block;
  }

  .catalog__filter {
    position: absolute;
    z-index: 2;
    background: white;
    top: 120px;
  }

  .catalog__title-filter {
    font-weight: 700;
  }

  .catalog__title-novelty,
  .catalog__title-products {
    font-weight: 800;
  }

  .catalog__novelty .new-products__block .new-products__type,
  .catalog__products-wrapper .new-products__block .new-products__type {
    top: 10px;
    border-radius: 0 0 3px 0;
  }

  .catalog__novelty .new-products__block .new-products__img-offer {
    width: 90%;
  }

  .catalog__novelty .new-products__block .new-products__img-offer img {
    width: 100%;
  }

  .catalog__novelty {
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
  }

  .catalog__products .new-products__block:last-child,
  .catalog__products .new-products__block:nth-last-child(2) {
    display: none;
  }

  .details-mini-swiper-container {
    display: none;
  }

  .details-mini-swiper-button-next,
  .details-mini-swiper-button-prev {
    display: none;
  }

  .details__swiper {
    display: block;
    margin: 0 0 30px 0;
  }

  .details-swiper-slide img {
    position: static;
    transform: none;
  }

  .details-swiper-container {
    width: 100%;
    height: 340px;
    margin-bottom: 10px;
  }

  .details__character-form {
    border: none;
  }

  .details__name-product {
    margin-bottom: 0;
  }

  .details__btn-form {
    margin-top: 10px;
    width: 100%;
    font-weight: 700;
    padding: 10px;
    text-transform: none;
  }

  .details {
    padding: 20px 0 10px 0;
  }

  .product-description {
    padding: 10px 0 25px 0;
  }

  .product-description__tabs {
    display: none;
  }

  .services__title {
    margin: 30px 0 40px;
  }

  .services__wrapper-two {
    display: block;
  }

  .services__wrapper-two h3 {
    padding: 12px 275px 12px 20px;
  }

  .product-bookmark__wrapper,
  .details-mini-mobil-swiper-container {
    display: block;
  }

  .product-description__skill {
    margin-top: 20px;
  }

  .selected-modification__link-collection {
    display: none;
  }

  .selected-modifications__title {
    margin-bottom: 10px;
  }

  .set__info-product {
    display: none;
  }

  .set__item {
    align-items: start;
    flex-direction: column;
    height: auto;
    position: relative;
    flex-wrap: wrap;
    padding: 30px 20px 40px 100px;
  }

  .set__description-item,
  .set__form,
  .set__price,
  .set__delete-btn {
    transform: none;
  }

  .set__delete-btn span {
    display: none;
  }

  .set__delete-btn {
    position: absolute;
    right: 20px;
  }

  .set__img {
    width: 70px;
    transform: none;
    left: 10px;
    position: absolute;
    margin-left: 0;
  }

  .set__item-title {
    font-size: 18px;
  }

  .set__brief {
    font-size: 15px;
    margin: 10px 0 0 0;
    grid-row-gap: 5px;
  }

  .set__brief-text {
    font-size: 15px;
  }

  .set__form {
    margin-top: 15px;
  }

  .set__price {
    position: absolute;
    right: 20px;
    bottom: 45px;
    margin-left: 0px;
  }

  .set__description-item {
    padding-bottom: 15px;
    padding-right: 85px;
    border-bottom: 1px solid rgba(229, 229, 229, 1);
    width: 100%;
    margin: 0;
  }

  .set__title {
    margin: 0 0 20px;
  }

  .set__total {
    margin: 0;
    font-size: 12px;
  }

  .set__return {
    font-size: 12px;
    font-weight: 500;
  }

  .set__return::before,
  .set__return::after {
    width: 3px;
    top: 4px;
  }

  .set__return::before {
    transform: rotate(45deg) translateY(-2px);
  }

  .set__return::after {
    transform: rotate(-45deg) translateY(2px);
  }

  .set__btn-link {
    margin: 0;
    min-width: fit-content;
    font-size: 15px;
  }

  .set {
    padding: 20px 0 10px;
  }

  .set__btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }

  .transfer__tabs .tab-content {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
  }

  .catalog__novelty-wrapper {
    margin: 295px 0 0 auto;
  }

  .catalog__products-wrapper {
    margin: 20px 0 0 auto;
  }

  .catalog__title-shop {
    margin: 0;
  }

  .catalog.shop {
    padding: 20px 0 50px;
  }

  .catalog__title-novelty,
  .catalog__title-products {
    font-size: 20px;
  }

  .new-products__btn-text.btn {
    font-size: 16px;
  }

  .catalog__type-link.link,
  .new-products__info p {
    font-size: 14px;
  }

  .new-products__img-offer {
    transform: translate(-50%, -145px);
  }

  .catalog__item-title h3 {
    font-size: 19px;
  }

  .services__wrapper-two h3 {
    font-weight: 500;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 425px;
  }

  .questions {
    padding-top: 65px;
  }

  .new-products__title,
  .new-products__info p {
    font-size: 12px;
  }

  .new-products__price {
    font-size: 18px;
  }

  .new-products__btn-text.btn {
    font-size: 14px;
  }

  .services__line-text,
  .catalog__item-title h3 {
    font-size: 16px;
  }

  .services__title-office {
    margin: 0 0 25px 0;
  }

  .new-products__btn {
    margin-top: 40px;
  }

  .new-products__offer {
    margin-top: 30px;
  }

  .new-products__img-offer {
    transform: translate(-50%, -110px);
    height: 70px;
  }

  .catalog__title-filter,
  .catalog__title-shop,
  .catalog__title-novelty,
  .catalog__title-products {
    font-size: 20px;
  }

  .new-products__content-offer {
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 0 10px;
  }

  .new-products__block {
    min-height: 540px;
  }

  .catalog__type-link.link,
  .catalog__bar-mobil,
  .catalog__title-wrapper.active
    ~ .catalog__btn-wrapper
    .catalog__btn:nth-child(1) {
    font-size: 16px;
  }

  .footer__cont-link,
  .footer__link,
  .footer__catalog-title {
    font-size: 17px;
  }

  .footer__block-contact img {
    width: 17px;
    height: 17px;
  }

  .footer__catalog-list {
    width: 200px;
    letter-spacing: 0.01em;
    line-height: 1.7em;
  }

  .solutions__block-img-1-mobil {
    height: 164px;
  }

  .solutions__block-img-2-mobil,
  .solutions__block-img-3-mobil,
  .solutions__block-img-4-mobil {
    height: 83px;
  }

  .solutions__block-img-3-mobil {
    border-left: 15px solid white;
    border-right: 15px solid white;
  }

  .services__item-title h3 {
    transition: all 0.2s ease;
    padding: 24px 123px 17px 20px;
    font-size: 16px;
    font-weight: 500;
  }

  .services__title {
    margin: 35px 0 25px 0;
  }

  .solutions {
    padding: 20px 0 30px 0;
  }

  .set__title {
    font-size: 18px;
  }

  .set__item-title {
    font-size: 16px;
  }

  .set__brief,
  .set__brief-text {
    font-size: 14px;
  }

  .set__btn {
    display: block;
    margin: 0;
  }

  .set__btn-link {
    width: 100%;
    font-size: 14px;
    margin-bottom: 15px;
  }

  .transfer__tabs {
    display: none;
  }

  .transfer__accordion {
    display: block;
  }

  .transfer__accordion-title h3 {
    font-size: 15px;
  }

  .transfer__btn {
    font-size: 18px;
  }

  .catalog__novelty-wrapper {
    margin: 325px 0 50px auto;
  }

  .details__character-form {
    grid-column-gap: 0;
    grid-template-columns: 140px 1fr;
  }

  .catalog.shop {
    padding: 10px 0 30px;
  }
}
@media screen and (max-width: 425px) {
  .container {
    width: 375px;
  }

  .new-products__list {
    display: none;
  }

  .catalog__novelty-wrapper {
    margin: 350px 0 50px auto;
  }

  .set__item-title {
    font-size: 12px;
  }

  .set__brief,
  .set__brief-text {
    font-size: 11px;
  }

  .header__content {
    width: 100%;
  }

  .header__text {
    font-size: 14px;
    margin: 15px 0 30px 0;
  }

  .header__btn {
    padding: 14px 55px;
    font-size: 14px;
  }

  .catalog__title {
    font-size: 18px;
    margin: 0;
  }

  .catalog__item-title h3 {
    font-size: 16px;
  }

  .catalog__wrapper {
    margin-top: 20px;
  }

  .catalog__text {
    font-size: 14px;
    padding: 0 10px;
  }

  h1 {
    font-size: 24px;
  }

  .services__block {
    padding: 24px 10px 24px 80px;
  }

  .services__block,
  .services__block:nth-child(1),
  .services__block:nth-child(2),
  .services__block:nth-child(3),
  .services__block:nth-child(4),
  .services__block:nth-child(5) {
    background-position: left 10px;
    background-size: 50px;
  }

  .services {
    padding: 50px 0;
  }

  .services__wrapper {
    margin-top: 0px;
  }

  .new-products__img-offer {
    height: 65px;
  }

  .download__block a {
    font-weight: 500;
  }

  .footer__cont-link,
  .footer__link,
  .footer__catalog-title,
  h4 {
    font-size: 14px;
  }

  .footer__catalog-item a {
    font-size: 12px;
  }

  .footer__text-logo-mobile {
    font-size: 11px;
  }

  .solutions__block-img-1-mobil {
    height: 145px;
  }

  .services__item-title h3 {
    padding: 24px 95px 17px 20px;
    font-size: 14px;
  }

  .services__text span {
    font-size: 12px;
    line-height: 22px;
  }

  .services {
    padding: 20px 0;
  }

  .solutions__block-img-3-mobil {
    border-left: 11px solid white;
    border-right: 11px solid white;
  }

  .catalog__title {
    margin: 25px 0 0 0;
  }

  .details__character-form {
    grid-column-gap: 0;
  }

  .details__character-color .details__checkbox,
  .details__character-temp .details__checkbox {
    width: 59px;
    height: 21px;
  }

  .details__checkbox {
    width: 27px;
    height: 20px;
  }

  .details__checkbox,
  .product-bookmark__text,
  .product-description__item,
  .selected-modifications__product-mobil-wrapper div .text {
    font-size: 12px;
  }

  .details__name-product {
    font-size: 16px;
  }

  .details__btn-form,
  .product-bookmark__item-title,
  .selected-modifications__title,
  .selected-modifications__product-mobil-title,
  .selected-modifications__product-mobil-wrapper div {
    font-size: 14px;
  }

  .selected-modifications {
    padding: 10px 0 15px 0;
  }

  .product-description {
    padding: 10px 0 10px 0;
  }

  .transfer__wrapper-list::after {
    display: block;
  }

  .transfer {
    padding: 5px 0 40px;
  }

  .transfer__title {
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .transfer__content-title {
    font-size: 14px;
  }
  .transfer__content-text {
    font-size: 12px;
  }

  .transfer__wrapper-list {
    flex-direction: column;
  }

  .transfer__item {
    width: 100%;
    display: flex;
  }

  .transfer__content-text.scheme {
    width: 235px;
    margin: 0;
    font-size: 12px;
    margin-left: 20px;
  }

  .transfer__scheme {
    width: 38px;
    height: 38px;
    font-size: 14px;
    line-height: 38px;
  }

  .transfer__wrapper-list::before {
    display: none;
  }

  .transfer__wrapper-list::after {
    top: 0;
    width: 0;
    height: calc(100% - 5px);
    left: 19px;
  }

  .transfer__form {
    padding: 0;
    margin-top: 20px;
  }

  .transfer__form-link {
    padding: 0 0 5px 0;
  }

  .transfer__btn {
    width: 100%;
    font-size: 14px !important;
  }

  .nav__item .list__link.link {
    font-size: 16px;
    font-weight: 500;
  }

  .nav__burger-link.nav__email.link {
    font-weight: 500;
    font-size: 14px;
  }

  .nav__burger-link.nav__btn.btn.link {
    padding: 11px 22px;
    font-size: 14px;
  }

  .catalog__btn-index {
    font-size: 14px;
    width: 100%;
    text-align: center;
  }

  .services__title {
    margin: 0;
    font-size: 18px;
  }

  .services__wrapper {
    margin-top: 20px;
  }

  .services__line-text {
    font-size: 14px;
  }

  .services__text.services__text-accardion {
    font-size: 12px;
  }

  .new-products__main-title,
  .questions__title,
  .download__title {
    font-size: 18px;
  }

  .new-products__btn.btn {
    font-size: 14px;
  }

  .questions__btn.btn {
    font-size: 18px;
  }

  .header {
    background-size: 375px;
    background-position: center -30px;
    padding: 220px 0 10px 0;
  }

  .new-products__btn-text.btn {
    font-weight: 600;
    font-size: 12px;
    padding: 12px 10px;
  }

  .new-products__btn-add {
    line-height: 38px;
  }

  .new-products__block {
    min-height: 312px;
    margin: 0;
  }

  .new-products__img {
    max-height: 100px;
  }

  .new-products__title {
    font-size: 11px;
  }

  .new-products__price {
    font-size: 14px;
  }

  .new-products__type {
    font-size: 14px;
  }

  .new-products__block.shop .new-products__type {
    margin-top: 10px;
  }

  .footer__block-contact img {
    margin-right: 10px;
  }

  .footer__block-contact {
    grid-column: 1/3;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer__contact-title {
    width: 100%;
  }

  .footer__cont-link:nth-child(4) {
    margin: 0 auto;
    margin-top: 15px;
  }
}
@media screen and (max-width: 375px) {
  .container {
    width: 320px;
  }

  .solutions__title-mobil {
    font-size: 16px;
    font-weight: 600;
  }

  .nav__add-link.link,
  .nav__burger-link.nav__add.link {
    font-size: 16px;
  }

  .nav__burger-link.nav__btn.btn.link {
    font-size: 14px;
  }

  .new-products__img-offer {
    height: 50px;
  }

  .new-products__price {
    font-size: 14px;
  }

  .download {
    padding: 40px 0 0px 0;
  }

  .questions__form {
    width: 100%;
  }

  .footer__catalog-list {
    width: 100%;
  }

  .footer__block-questions {
    padding-left: 30px;
  }

  .solutions__block-img-1-mobil {
    height: 116px;
  }

  .services__item-title h3 {
    padding: 24px 60px 17px 20px;
  }

  .catalog__type-link {
    font-size: 14px;
  }

  .catalog__filter {
    top: 105px;
  }

  .details__character {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .details__character-color,
  .details__character-temp {
    grid-template-columns: 1fr 1fr;
  }

  .set__description-item {
    padding-right: 35px;
  }

  .catalog__novelty-wrapper {
    margin: 350px 0 0 auto;
  }
}
@media screen and (max-width: 320px) {
  .container {
    width: 300px;
  }

  .services__item-title::after,
  .services__item-title::before {
    top: 30px;
  }

  .catalog__novelty-wrapper {
    margin: 290px 0 50px auto;
  }

  .header__btn {
    padding: 15px 85px;
  }

  .new-products__offer {
    grid-template-columns: 1fr;
  }

  .new-products__img-offer {
    height: fit-content;
  }

  .new-products__price {
    font-size: 14px;
  }

  .new-products__btn-offer a {
    font-size: 15px;
  }

  .btn {
    font-size: 15px;
  }

  .solutions__block-img-2-mobil,
  .solutions__block-img-3-mobil,
  .solutions__block-img-4-mobil {
    height: 70px;
  }

  .catalog__novelty {
    align-items: center;
  }

  .catalog__novelty .new-products__block,
  .new-products__block.shop {
    max-width: 100%;
    width: 100%;
  }

  .catalog__products {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .catalog {
    padding: 20px 0 30px 0;
  }

  .catalog__bar-mobil {
    font-size: 12px;
  }

  .catalog__title-filter {
    font-size: 14px;
  }

  .catalog__title-wrapper.active
    ~ .catalog__btn-wrapper
    .catalog__btn:nth-child(1) {
    font-size: 12px;
  }

  .catalog__title {
    margin: 25px 0 0 0;
  }

  .catalog__title,
  .catalog__title-novelty {
    font-size: 20px;
  }

  .catalog__filter-type {
    top: 35px;
  }

  .catalog__filter {
    top: 80px;
  }

  .catalog__novelty .new-products__block .new-products__img-offer {
    top: 155px;
  }

  .set__description-item {
    padding-right: 20px;
  }

  .catalog__novelty .new-products__block .new-products__img-offer {
    top: 180px;
  }

  .catalog__type-link.link {
    font-size: 12px;
  }

  .catalog__title-wrapper::after,
  .catalog__title-wrapper::before {
    top: 8px;
  }

  .new-products__block .new-products__img-offer {
    position: absolute;
    width: 130px;
    height: 49px;
  }

  .modal {
    width: 100%;
    left: calc(50% - 160px);
  }

  .modal-thank {
    width: 100%;
  }
}
